

#container {
    
   
    width: 700x;
    
    
}
.swimlane {

    border: dashed;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    
}
#hidden {
    display: hidden
}

.postit {
    
    
    border: solid;
    padding: 5px, 5px, 5px, 5px;
    
}


