

.swimlane {

    border: dashed;
    display: table-cell;
    vertical-align: top;
    height: 400px;
    
   
}
#hidden {
    display: hidden
}

.postit {
    
    
    border: solid;
    padding: 5px, 5px, 5px, 5px;
    
}

.postit a {
    
    text-decoration: none;
    
}

.postit {
    background: lime;
}

.postit h1 {
    
    color: black;
}

.SLHeader {
    
    color: blue;
    vertical-align: top;
}
